repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
    - id: no-commit-to-branch
      args: ['--branch', 'main']

- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
      args: ["-j8", "--ignore=E722,F841,W504"]

- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
        ]

- repo: local
  hooks:
    - id: mypy
      name: mypy
      entry: mypy  # This is the command for your local mypy
      language: system
      args: [--strict, --ignore-missing-imports]
      files: \.py$

- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: system
      files: \.py$
